.buttons {     
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
        color: white;
        --color: #ffa501;
        padding: 0.6em 1em;
        margin-right: 15px;
        background-color: transparent;
        border-radius: 40px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        font-weight: 700;
        font-size: 16px;
        border: 2px solid $main-color;
        font-family: inherit;
        text-transform: uppercase;
        color: var(white);
        z-index: 1;
        &:hover {
        color: white;
        text-decoration: none;
        }
       }
       .black {
        color: black;
        margin-right: 0;
       }
       
       
       .button::before, .button::after {
        color: white;
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 40px;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
       }
       
       .button::before {
        top: -2em;
        left: -2em;
       }
       
       .button::after {
        left: calc(100% + 2em);
        top: calc(100% + 2em);
       }
       
       .button:hover::before, .button:hover::after {
        height: 410px;
        width: 410px;
       }
       
       .button:hover {
        color: white;
        border: 2px solid white;
       }
       
       .selector {

        &:hover { 
            border: 2px solid $main-color;
        }
        .background {
            background-color: $main-color; 
            color: black;
            font-size: 18px;
            font-weight: 700;
        }
       }
}
    